form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form button[type="submit"],
form button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
    background-color: #45a049;
}
#genero label {
    display: inline-block;
    margin-right: 10px;
}
#categoriasInteres label {
    display: inline-block;
    margin-right: 10px;
}

